@model Integration.BLModels.BLVideo

@{
    ViewData["Title"] = "Video";
}

<h1>Video</h1>

<div>
    <h4>Video</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSeconds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSeconds)
        </dd>
    </dl>
        <a href="@Url.Content(Model.StreamingUrl)">Play Video</a>
</div>
<div>
    <a asp-action="Home">Back</a>
</div>
